body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 20px 10px;
  background: linear-gradient(to right, rgba(103,93,90,0.6), rgba(103,93,90,0.8), rgba(103,93,90,1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HomeHeader */
.checklist-header {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checklist-header .text {
  width: 80%;
}

.checklist-header .text h3 {
  font-size: 24px;
  margin: 0px;
  font-weight: 500;
}

.checklist-header .text h5 {
  font-size: 14px;
  margin: 15px 0 0; /* Top: 15px; Rest: 0px */
  font-weight: 500;
}

/* Automatically 20% as .text is 80% */
.checklist-header .notification
{
  padding: 5px 0 0;
}
